.container {
    display: flex;
    align-items: center; /* 垂直居中 */
    cursor: pointer; 
    border: 2px solid; /* 默认边框颜色 */
    border-color: transparent;
    margin-top:5px;
    margin-bottom: 5px;

  }
.img_box{
    max-width:30px;
    max-height:30px;
    border-radius: 50%;
}
.container:hover{
    border-color: #6a78e2; /* 鼠标靠近时的边框颜色 */ 
    transition: border-color 0.3s; /* 平滑过渡边框颜色 */

}